* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    height: 100%;
    background-color: #c0d7fc;
    font-family: URW Chancery L, cursive;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h2, h3, p {
  font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    min-width: 4em;
    max-width: fit-content;
}
h1 {
font-size: 6em;
text-align: center;
}

.pure-form {
    align-content: center;
    align-self: center;
}

footer {
    font-family: URW Chancery L, cursive;
    background-color: #c0d7fc;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    margin-top: auto;
}

#names {
    text-align: center;
}

.getCategory{	
  text-align: center;	
  justify-content: center;	
}

.random {
  /* background-color: #b5cef7; */
  text-align: center;
  justify-content: center;
  margin: 1em;
  /* margin: 2em;
  padding: 1em; */
}

.randomButton {	
  text-align: center;	
  justify-content: center;	
  margin: 1em;	
  padding: 1em;	
}	
/* #getRandom {	
  text-align: center;	
  justify-content: center;	
  padding: 5em;	
} */

.enjoy {
   padding: 1em;
   text-transform: capitalize;
   font-size: 3em;
   font-weight: bolder;
   font-family: URW Chancery L, cursive;
}
.area {
  padding: 20px;
}
.image {
  width: 200px;
}
.footer-link {
    text-align: center;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.meal-grid {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    max-width: 97%;
    text-align: center;
  }

  .mealResults {
    width: 100%;
    background-color: black;
    padding: 1em;
    margin: 1em 1em 1em 1em;
  }

  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .meal-grid {
      grid-template-columns: 1fr 1fr;
      max-width: 93%;
    }
  }

  @media only screen and (max-width: 400px) {
    .meal-grid {
      grid-template-columns: 1fr 1fr;
      max-width: 87%;
      margin-left: 0;
    }
}
  