* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    height: 100%;
    background-color: #3668ff;
    font-family: URW Chancery L, cursive;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh
}

input {
    min-width: 4em;
    max-width: fit-content;
}
h1 {
font-size: 6em;
text-align: center;
}

.pure-form {
    align-content: center;
    align-self: center;
}

footer {
    font-family: URW Chancery L, cursive;
    background-color: #3668ff;
    position: relative;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    margin-top: auto;
}

#names {
    text-align: center;
}


.footer-link {
    text-align: center;
}

.meal-grid {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    max-width: 97%;
    text-align: center;
  }

  .mealResults {
    width: 100%;
    background-color: black;
    padding: 1em;
    margin: 1em 1em 1em 1em;
  }

  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .meal-grid {
      grid-template-columns: 1fr 1fr;
      max-width: 93%;
    }
  }

  @media only screen and (max-width: 400px) {
    .meal-grid {
      grid-template-columns: 1fr 1fr;
      max-width: 87%;
      margin-left: 0;
    }
  }




